In [31]:
import pandas as pd
import numpy as np

columns =['num','dir','hir','lvr','ccs','mcs','pbcr','dmi','self','single','uria','condominium','black','deny']
df = pd.read_csv('./Hdma.csv')

df.head()

  ,dir,hir,lvr,ccs,mcs,pbcr,dmi,self,single,uria,comdominiom,black,deny
0  1,0.221000004,0.221000004,0.8,5,2,no,no,no,no,...
1  2,0.265,0.265,0.921875,2,2,no,no,no,yes,3.2000...
2  3,0.372000008,0.247999992,0.92039801,1,2,no,no...
3  4,0.32,0.25,0.860465116,1,2,no,no,no,no,4.3000...
4  5,0.36,0.35,0.6,1,1,no,no,no,no,3.200000048,0,...